* {
    margin: 0;
    padding: 0
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    perspective: 900px;
    background-color: black;
}

.card {
    position: relative;
    width: 300px;
    height: 500px;
    transform-style: preserve-3d;
    transition: 3s;
    cursor: default;
}

.front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("i-204.jpg") center/cover no-repeat;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 50px;
}

.back {
    padding: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    background: white;
    backface-visibility: hidden;
    border-radius: 50px;
}

.title {
    font-family: 'Courier New', Courier, monospace;
}

.desc {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flip {
    transform: rotateY(180deg);
}

.fade-btn,
.wave-text {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient(to left, #FE602D, #2DFEA9, #562DFE, #AF2DFE, #FE2DDE);
    background-size: 400%;
    text-align: center;
    color: white;
    line-height: 50px;
    z-index: 2;
    cursor: default
}

a {
    color: white;
}

.btn:hover {
    animation: anim 5s linear 0s infinite;
}

.btn:before {
    content: '';
    width: 200px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to left, #FE602D, #2DFEA9, #562DFE, #AF2DFE, #FE2DDE);
    background-size: 400%;
    transform: scale(1);
    border-radius: 50px;
    z-index: -1;
}

.btn:hover:before {
    filter: blur(20px);
    animation: anim 5s linear 0s infinite;
}

@keyframes anim {
    0% {
        background-position: 0%
    }
    100% {
        background-position: -400%;
    }
}

.wave {
    color: white;
    cursor: default;
}

.wave span {
    display: inline-block;
    transition: 0.3s;
}

.wave:hover span {
    animation-name: wave;
    animation-duration: 0.4s;
    animation-timing-function: linear;
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.8em);
    }
    100% {
        transform: translateY(0);
    }
}